<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias alias="system_user_info" type="com.data.system_user_info" />
		<typeAlias alias="user_info" type="com.data.user_info" />
		<typeAlias alias="task_info" type="com.data.task_info" />
		<typeAlias alias="report_info" type="com.data.report_info" />
		<typeAlias alias="service_info" type="com.data.service_info" />
		<typeAlias alias="department_info" type="com.data.department_info" />
		<typeAlias alias="employee_info" type="com.data.employee_info" />
		<typeAlias alias="relationship_info" type="com.data.relationship_info"/>
		<typeAlias alias="service_village_info" type="com.data.service_village_info"/>
		<typeAlias alias="service_village_county_info" type="com.data.service_village_county_info"/>
		<typeAlias alias="contact_person_info" type="com.data.contact_person_info"/>
		<typeAlias alias="contact_person_department_info" type="com.data.contact_person_department_info"/>
		<typeAlias alias="work_record_info" type="com.data.work_record_info"/>
		<typeAlias alias="service_selector" type="com.selector.service_selector"/>
		<typeAlias alias="work_record_selector" type="com.selector.work_record_selector"/>
		<typeAlias alias="service_group_info" type="com.data.service_group_info"/>
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<!-- connecting to Local MySql -->
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://101.200.196.121:3306/guohong_oa" />
				<property name="username" value="root" />
				<property name="password" value="19880226" />
				<property name="poolPingQuery" value="SELECT NOW" />
				<property name="poolPingEnabled" value="true" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/config/system_user_info.xml" />
		<mapper resource="com/config/user_info.xml" />
		<mapper resource="com/config/task_info.xml" />
		<mapper resource="com/config/report_info.xml" />
		<mapper resource="com/config/service_info.xml" />
		<mapper resource="com/config/department_info.xml" />
		<mapper resource="com/config/employee_info.xml" />
		<mapper resource="com/config/relationship_info.xml"/>
		<mapper resource="com/config/service_village_info.xml"/>
		<mapper resource="com/config/service_village_county_info.xml"/>
		<mapper resource="com/config/contact_person_info.xml"/>
		<mapper resource="com/config/contact_person_department_info.xml"/>
		<mapper resource="com/config/work_record_info.xml"/>
		<mapper resource="com/config/service_group_info.xml"/>
				
	</mappers>
</configuration>