<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias alias="system_user_info" type="com.data.system_user_info" />
		<typeAlias alias="user_info" type="com.data.user_info" />
		<typeAlias alias="task_info" type="com.data.task_info" />
		<typeAlias alias="report_info" type="com.data.report_info" />
		<typeAlias alias="service_info" type="com.data.service_info" />
		<typeAlias alias="regulation_info" type="com.data.regulation_info" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<!-- connecting to Local MySql -->
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/hmkcode" />
				<property name="username" value="root" />
				<property name="password" value="19880226" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/config/system_user_info.xml" />
		<mapper resource="com/config/user_info.xml" />
		<mapper resource="com/config/task_info.xml" />
		<mapper resource="com/config/report_info.xml" />
		<mapper resource="com/config/service_info.xml" />
		<mapper resource="com/config/regulation_info.xml" />		
	</mappers>
</configuration>